#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
 
.logo {
  height:300px;          
  width: auto;          
  margin: 1rem auto;    
  display: block;
  transition: transform 0.5s ease;
}
 
.logo:hover {
  transform: scale(1.05);
}
 
header img {
  display: block;
  margin: 0 auto;
}
 
.card {
  padding: 2em;
  background: #f9f9f9;
  border-radius: 8px;
}
 
.read-the-docs {
  color: #666;
  font-size: 0.9rem;
}